services:
  - type: web
    name: emergency-backend
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/incidents/stats
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: PORT
        value: 5000
      - key: FRONTEND_URL
        sync: false
